{% load static %}

{% if user.is_authenticated %}
<aside class="main-sidebar" style="background-color: #33393f; color: darkblue; ">
    <section class="sidebar position-relative">
        <div class="multinav">
            <div class="multinav-scroll" style="height: 100%;">
                <ul class="sidebar-menu" data-widget="tree">
                    <li>
                        <a href="{% url 'home' %}">
                            <i data-feather="monitor" style="color: white;"></i>
                            <span style="color: white;">Dashboard</span>
                        </a>
                    </li>
                    {% if user.is_superuser %}
                    <li class="header" style="color: white;">Admin Site </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="user" style="color: white;"></i>
                            <span style="color: white;">Super Admin</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="{% url 'show_societies' %}" id="show_societies" style="color:#FFFAFA;"style="color:#FFFAFA;"><i class="icon-Commit"></i>Societies</a></li>
                            {% if request.resolver_match.kwargs.id %}
                            <li><a href="{% url 'id_admin_dashboard' request.resolver_match.kwargs.id %}" style="color:	#FFFAFA;"style="color:#FFFAFA;"><i class="icon-Commit"></i>Register Admin</a></li>
                            {% endif %}
                        </ul>
                        
                    </li>
                    {% endif %}
                        {% comment %} {% if selected_society %}
                            <!-- Sidebar items specific to the selected society -->
                            <li class="treeview">
                                <a href="#">
                                    <i data-feather="user" style="color: white;"></i>
                                    <span style="color: white;">Super Admin</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{% url 'show_societies' %}" id="show_societies"style="color:#FFFAFA;"><i class="icon-Commit"></i>Societies</a></li>
                                    <li><a href="{% url 'admin_dashboard' %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Register Society</a></li>
                                </ul>
                            </li>
                        {% endif %}
                     {% endcomment %}
                    {% if request.resolver_match.kwargs.id and user.is_superuser  %}
                        
                    <div id="society-menu-items" style="display: block;">
                        <!-- Render sidebar menu items for the selected society -->
                        <ul class="sidebar-menu">
                        
                            <li class="treeview">
                                <a href="#">
                                    <i data-feather="home" style="color: white;"></i>
                                    <span style="color: white;">Society Profile</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </span>
                                </a>
                                
                                <ul class="treeview-menu">
                                    
                                    <li><a href="{% url 'id_soc_profile' request.resolver_match.kwargs.id %}" style="color:#FFFAFA;"style="color:#FFFAFA;"><i class="icon-Commit"></i>View Profile</a></li>
                                    
                                </ul>
                            </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="user-plus" style="color: white;"></i>
                                <span style="color: white;">User Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{% url 'id_subadmin_list' request.resolver_match.kwargs.id %}" style="color:#FFFAFA;"style="color:#FFFAFA;"><i class="icon-Commit"></i>Committee Member</a></li>
                                <li><a href="{% url 'subadmin_list' %}" style="color:#FFFAFA;"style="color:#FFFAFA;"><i class="icon-Commit"></i>Gate Keeper</a></li>
                            </ul>
                        </li>
                       
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="shield" style="color: white;"></i>
                                <span style="color: white;">Visitor Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"style="color:#FFFAFA;"style="color:#FFFAFA;"><i class="icon-Commit"></i>Visitor Request</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="users" style="color: white;"></i>
                                <span style="color: white;">Manage Residents</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{% url 'building_list' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Block List</a></li>
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Unit List</a></li>
                                {% comment %} <li><a href="{% url 'floor_data' request.resolver_match.kwargs.id building.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Resident List</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="shopping-bag" style="color: white;"></i>
                                <span style="color: white;">Amenities</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{% url 'amenities' id=request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add Amenities</a></li>
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Booking</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="message-circle" style="color: white;"></i>
                                <span style="color: white;">Announcements</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{% url 'main'  id=request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Event, News, Notice</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="dollar-sign" style="color: white;"></i>
                                <span style="color: white;">Financial Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Maintenance</a></li>
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Invoices</a></li>
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Expense</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="image" style="color: white;"></i>
                                <span style="color: white;">Gallery</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add image</a></li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                    {% endif %}

                    {% if user.is_admin and not user.is_superuser %}
                        <!-- Admin Menu -->
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="home" style="color: white;"></i>
                                <span style="color: white;">Society Profile</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                {% if request.user.is_superuser %}
                                <li><a href="{% url 'id_soc_profile' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>View Profile</a></li>
                                
                                {% else %}
                                <li> <a href="{% url 'id_soc_profile' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>View Profile</a></li>
                                {% endif %}
                                
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i data-feather="user-plus" style="color: white;"></i>
                                <span style="color: white;">User Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                {% if request.user.is_superuser %}
                                <li><a href="{% url 'id_subadmin_list' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Committee Member</a></li>
                                {% else %}
                                <li><a href="{% url 'id_subadmin_list' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Committee Member</a></li>
                                {% endif %}
                                <li><a href="{% url 'subadmin_list' %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Gate Keeper</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="shield" style="color: white;"></i>
                                <span style="color: white;">Visitor Management</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Visitor Request</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="users" style="color: white;"></i>
                                <span style="color: white;">Manage Residents</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'building_list' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Block List</a>
                                    {% else %}
                                    <a href="{% url 'building_list' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Block List</a>
                                    {% endif %}
                                </li>
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Unit List</a></li>
                                {% comment %} <li><a href="{% url 'floor_data' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Resident List</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="shopping-bag" style="color: white;"></i>
                                <span style="color: white;">Amenities</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'amenities' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add Amenities</a></li>
                                    {% else %}
                                        <a href="{% url 'amenities' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add Amenities</a></li>
                                    {% endif %}
                                </li>
                                <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Booking</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i data-feather="message-circle" style="color: white;"></i>
                                <span style="color: white;">Announcements</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                {% if request.user.is_superuser %}
                                <a href="{% url 'main' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Event, News, Notice</a>
                                {% else %}
                                <a href="{% url 'main' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Event, News, Notice</a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="dollar-sign" style="color: white;"></i>
                            <span style="color: white;">Financial Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Maintenance</a></li>
                            <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Invoices</a></li>
                            <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Expense</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="image" style="color: white;"></i>
                            <span style="color: white;">Gallery</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add image</a></li>
                        </ul>
                    </li>
                    
                    {% endif %}
                    {% for usr in user.userdetails.all %}
                        {% if usr %}
                            {% if usr.role == "committee_member" and not user.is_admin  %}

                    <li class="header" style="color: white;">Admin Site </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="shield" style="color: white;"></i>
                            <span style="color: white;">Visitor Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            
                            <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"></i>Visitor Request</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="users" style="color: white;"></i>
                            <span style="color: white;">Manage Residents</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">

                            {% if request.user.is_superuser %}
                            <li><a href="{% url 'building_list' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Block List</a>  </li>
                            {% else %}
                            <li><a href="{% url 'building_list' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Block List</a>  </li>
                            {% endif %}
                            {% comment %} <li><a href="{% url 'building_list' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Block List</a></li> {% endcomment %}
                            <li><a href="#"style="color:#FFFAFA;"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Unit List</a></li>
                            {% comment %} <li><a href="{% url 'floor_data' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Resident List</a></li> {% endcomment %}

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="shopping-bag" style="color: white;"></i>
                            <span style="color: white;">Amenities</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>{% if request.user.is_superuser %}
                                <a href="{% url 'amenities' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add Amenities</a></li>
                            {% else %}
                                <a href="{% url 'amenities' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Add Amenities</a></li>
                            {% endif %}</li>
                            <li><a href="ecommerce_cart.html"style="color:#FFFAFA;"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Booking</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="message-circle" style="color: white;"></i>
                            <span style="color: white;">Annoucements</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                {% if request.user.is_superuser %}
                                <a href="{% url 'main' request.resolver_match.kwargs.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Event, News, Notice</a>
                                {% else %}
                                <a href="{% url 'main' request.user.id %}"style="color:#FFFAFA;"><i class="icon-Commit"></i>Event, News, Notice</a>
                                {% endif %}
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="dollar-sign" style="color: white;"></i>
                            <span style="color: white;">Financial Management</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">            
                            <li><a href="ui_grid.html"style="color:#FFFAFA;"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Maintenance</a></li>
                            <li><a href="ui_badges.html"style="color:#FFFAFA;"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invoices</a></li>
                            <li><a href="ui_border_utilities.html"style="color:#FFFAFA;"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Expense</a></li>
                        </ul>
                    </li>               
                    
                    <li class="treeview">
                        <a href="#">
                            <i data-feather="image" style="color: white;"></i>
                            <span style="color: white;">Gallery</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="component_bootstrap_switch.html"style="color:#FFFAFA;"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Add image</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</aside>
{% endif %}
{% comment %} 
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var societyMenuItems = document.getElementById('society-menu-items');
        var selectedSocietyId = localStorage.getItem('selectedSocietyId');
        
        if (selectedSocietyId) {
            societyMenuItems.style.display = 'block';
        } else {
            societyMenuItems.style.display = 'none';
        }
    });
</script> {% endcomment %}