
{% load static %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


<script src="{% static 'js/jquery-3.7.1.min.js.js' %}"></script>
<!-- Load Bootstrap and other JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/vendors.min.js' %}"></script>
<script src="{% static 'js/pages/chat-popup.js' %}"></script>
<script src="{% static 'icons/feather-icons/feather.min.js' %}"></script>

<script src="{% static 'vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>
<script src="{% static 'vendor_components/jvectormap/lib2/jquery-jvectormap-2.0.2.min.js' %}"></script>
<script src="{% static 'vendor_components/jvectormap/lib2/jquery-jvectormap-world-mill-en.js' %}"></script>

<!-- Master Admin App -->
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/pages/dashboard3.js' %}"></script>

<script src="{% static 'vendor_components/datatable/datatables.min.js' %}"></script>
<script src="{% static 'js/pages/data-table.js' %}"></script> 

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-pzjw8f+ua7Kw1TIqQUq6A0X6U0pKA7H02XyXoXu2v6EViQVWn24PJQ8df0L3GGXY" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+q/dX7EcF7pKGm0qviK5+8Rt1J6uzZ+Xn0p" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        // Show the toast messages
        $('.toast').toast('show');

        // Hide the toast messages after 10 seconds
        setTimeout(function () {
            $('.toast').toast('hide');
        }, 5000);
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Optional: Bootstrap Datepicker JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<!-- Optional: Bootstrap Timepicker JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>

<!-- Your custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script>