{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="row mt-5 justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Committee</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'id_add_subadmin' request.resolver_match.kwargs.id %}">
                        {% csrf_token %}
                        {% crispy form %}
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}