{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="row mt-5 justify-content-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h1 class="custom-title">{{ society.name }}</h1>
                        <h3 class="card-title">Admin Registration</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {% crispy form %}
                        </form>
                        {% if form.non_field_errors %}
                            <div class="text-danger">
                                {% for error in form.non_field_errors %}
                                    <div>{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    
    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
</body>
</html>
{% endblock %}