{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add{% endblock %}

{% block content %}
 
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add Amenity</h4>
                    </div>
              
                    <div class="card-body">
                        
                            {% csrf_token %}
                            {% crispy ameform %}
          
                    </div>
                </div>
            </div>
        </div>
{% endblock %}